@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<style type="text/css">
    .nav-sidebar {
        width: 100%;
        /*padding: 8px 2px;*/
        margin-left: 25px;
        border: 1px solid #ddd;
    }

        .nav-sidebar a {
            color: #333;
            -webkit-transition: all 0.08s linear;
            -moz-transition: all 0.08s linear;
            -o-transition: all 0.08s linear;
            transition: all 0.08s linear;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

        .nav-sidebar .active a {
            cursor: default;
            background-color: #428bca;
            color: #fff;
            text-shadow: 1px 1px 1px #666;
        }

            .nav-sidebar .active a:hover {
                background-color: #428bca;
            }

    .nav li a:hover {
        background-color: #999999;
    }

    .nav-sidebar .text-overflow a,
    .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .mega-sidebar {
        position: static !important;
    }

    .mega-sidebar-menu {
        padding: 20px 0px;
        width: 400%;
        box-shadow: none;
        -webkit-box-shadow: none;
        left: 158px;
        top: -3px;
    }

        .mega-sidebar-menu > li > ul {
            padding: 0;
            margin: 0;
        }

            .mega-sidebar-menu > li > ul > li {
                list-style: none;
            }

                .mega-sidebar-menu > li > ul > li > a {
                    display: block;
                    color: #222;
                    padding: 3px 5px;
                }

        .mega-sidebar-menu > li ul > li > a:hover,
        .mega-sidebar-menu > li ul > li > a:focus {
            text-decoration: none;
            font-style: oblique;
            background-color: #99cccc;
        }

        .mega-sidebar-menu .sidebar-header > a {
            font-size: 16px;
            color: #ff3546;
            padding: 5px 60px 5px 5px;
            line-height: 20px;
        }

    .container-fluid {
        background-color: white;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .jumbotron {
        padding: 25px;
    }

    #cartSide .empty {
        font-style: italic;
        color: #a0a3ab;
        font-size: 14px;
        letter-spacing: 1px;
    }

    div.cart-icon-top {
        position: absolute;
        background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/cart.png") 0 -3px no-repeat;
        margin: 0;
        width: 21px;
        height: 19px;
        z-index: 1;
        top: 23px;
        left: 170px;
    }

    #cardSideBar {
        position: fixed;
        right: 100px;
        border: 1px solid #ddd;
        z-index: 1030;
        background: url(../../Content/Admin/sidebar-5.jpg);
        border-radius: 20px;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 5px 4px #ccc; /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 3px 5px 4px #ccc;
    }

    #SCart {
        margin-left: -1.5px;
    }

    ul.SCart li .item {
        display: block;
        padding: 3px 10px;
        margin: 3px 0;
    }

        ul.SCart li .item:hover {
            background-color: #f3f3f3;
        }

        ul.SCart li .item:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

    ul.SCart li .item-left {
        float: left;
    }

        ul.SCart li .item-left img,
        ul.SCart li .item-left span.item-info {
            float: left;
        }

        ul.SCart li .item-left span.item-info {
            margin-left: 10px;
        }

            ul.SCart li .item-left span.item-info span {
                display: block;
            }

    ul.SCart li .item-right {
        float: right;
    }

        ul.SCart li .item-right button {
            margin-top: 14px;
        }

        #cartAlert{
            position:fixed;
            z-index:1030;
        }
</style>

@section scripts{

    <script type="text/javascript">
        var countItem = 0;
        $(document).ready(function () {

            $('.dropdown-toggle').mouseover(function () {
                var CategoryName = $(this).attr('data-name').toString();
                if (CategoryName == 'Mobiles & Tablets') {
                    $('.mega-sidebar-menu').css('background', 'url(../../Content/Menu/mobilephones-tablets.jpg)')
                }
                else if (CategoryName == 'Computers') {
                    $('.mega-sidebar-menu').css('background', 'url(../../Content/Menu/Computers.jpg)')
                }
                else $('.mega-sidebar-menu').css('background', 'Transparent');
            });

            if (countItem == 0) {
                $('#cardSideBar').css('display', 'none');
            }
            else {
                $('#cardSideBar').css('display', 'inline', function () {
                    $(this).fadeIn(1000);
                });
            }

            $('#cartAlert').hide();

            $('.AddToCart').click(function () {
                var modelId = $(this).attr('data-id');
                var modelImg = $(this).attr('data-img');

                var hasBeenAppended = false;
                $.ajax({
                    url: '/Home/AddCartItem/',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: modelId },
                    success: function (data) {
                        $(data.Cart).each(function (index, item) {
                            //$('.dropdown-cart').append('<li class="cartlist"><span class="item"><span class="item-left"><span class="item-info"><span>' + item.ModelName + '</span><span> Rs' + item.UnitPrice + '</span></span></span><span class="item-right"><button class="btn btn-xs btn-danger pull-right">x</button></span></span></li><li class="divider"></li>');
                            $('#SCart').find('.appended').remove();
                            //if (data.carCount <= 6) {
                            $('#SCart').append('<li class="appended fa fa-plus"><span class="item"><span class="item-left"><span class="item-info"><span>' + item.ModelName + '</span><span> Rs' + item.UnitPrice + '</span></span></span><span class="item-right"><button class="btn btn-xs btn-danger pull-right">x</button></span></span></li><li class="divider"></li>');
                            //}

                            $('#cartAlert').fadeIn(400);
                            setTimeout(function () { $('#cartAlert').fadeOut(1000) }, 3000);
                        });
                        countItem = data.carCount;
                        $(".cart").text(data.carCount);
                        $('#viewCart').removeClass('hide');
                    }
                });
                $('#cardSideBar').slideDown(1000);

                //if (countItem == 6) {
                //    alert('Shopping Cart', 'Shopping Cart has reached maximum display number. <br> Click on View Cart');
                //}
            });

            $('#HideCart').click(function () {
                $('#cardSideBar').slideUp(1000);
            })
        });
    </script>

    @*<script type="text/javascript">

            $(document).ready(function () {
                var hasBeenAppended = false;
                $('.dropdown-toggle').mouseover(function () {
                    var CategoryId = $(this).attr('data-id');
                    var ProductId;
                    //alert(id);
                    $.ajax({
                        url: '/Home/GetProductsForCategory/',
                        type: 'POST',
                        dataType: 'json',
                        data: { id: CategoryId },
                        success: function (data) {
                            //alert('Data is on javascript!')
                            if (!hasBeenAppended) {
                                $(data).each(function (Index, item) {
                                    hasBeenAppended = true;
                                    //$('ProductList').append($(document.createElement("a")).attr({
                                    //    href: '',
                                    //    'data-id': item.ProductId
                                    //}))
                                    $('#ProductList').append($('<li class="sidebar-header"></li>').val(item.ProductId).html(item.Description));
                                    //$('#ProductList').append("<li>" + item.Description + "</li>").addClass('sidebar-header');
                                    ProductId = item.ProductId;
                                    //alert(ProductId);

                                    $.ajax({
                                        url: '/Home/GetItemsForProduct/',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: { id: ProductId },
                                        success: function (data) {
                                            alert('Data is on javascript!')
                                            if (true) {
                                                $(data).each(function (Index, item) {
                                                    hasBeenAppended = true;
                                                    if (ProductId = item.ProductId) {
                                                        $('#ProductList').append($('<li></li>').val(item.ItemId).html(item.Description));
                                                    }

                                                    //$('#ProductList').append("<li>" + item.Description + "</li>").addClass('sidebar-header');
                                                });
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                });

                //$('#newLaunchNext').click(function () {

                //    $.ajax({
                //        url: '/Home/GetNewModels/',
                //        type: 'GET',
                //        dataType: 'json',
                //        success: function (data) {
                //            $(data).each(function (index, item) {
                //                alert('Warning!' + item.ModelNumber);

                //                $('.carousel-inner').append($('<div class="item"><div class="row"><div class="col-sm-3"><div class="col-item"><div class="info"><div class="row"> <div class="price col-md-6"><h5>' + item.ModelNumber + '</h5><h5 class="price-text-color">' + item.Price + '</h5></div><div class="rating hidden-sm col-md-6"><i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star"></i></div></div></div><div class="photo"><img src="~/images/' + item.ImageUrl + '" class="img-responsive" width="360" height="250" alt="' + item.ModelNumber + '"/></div><div class="info"><div class="separator clear-left"><p class="btn-add"><i class="glyphicon glyphicon-shopping-cart"></i></div><div class="clearfix"></div></div></div></div></div></div>'));

                //            });
                //        }
                //    });
                //});
            });
        </script>*@

}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar  nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="#">Shop By Categories</a></li>
                    @foreach (var category in Model.Category)
                    {
                        <li class="dropdown mega-sidebar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-id="@category.CategoryId" data-name="@category.Description"> @category.Description <span class="caret"></span></a>
                            <ul class="dropdown-menu mega-sidebar-menu">
                                <li class="col-md-6">
                                    @if (category.Description == "Mobiles & Tablets")
                                    {
                                        <ul id="ProductList">
                                            @foreach (var product in Model.ProductRecordsC1)
                                            {
                                                <li class="sidebar-header"><a href="#">@product.Description</a></li>
                                                if (product.ProductId == 1)
                                                {
                                                    foreach (var item in Model.ItemRecordsP1)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 2)
                                                {
                                                    foreach (var item in Model.ItemRecordsP2)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 3)
                                                {
                                                    foreach (var item in Model.ItemRecordsP3)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 4)
                                                {
                                                    foreach (var item in Model.ItemRecordsP4)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 5)
                                                {
                                                    foreach (var item in Model.ItemRecordsP5)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 6)
                                                {
                                                    foreach (var item in Model.ItemRecordsP6)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 7)
                                                {
                                                    foreach (var item in Model.ItemRecordsP7)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }
                                                <li class="divider"></li>
                                            }
                                        </ul>
                                    }

                                    @if (category.Description == "Computers")
                                    {
                                        <ul id="ProductList">
                                            @foreach (var product in Model.ProductRecordsC2)
                                            {
                                                <li class="sidebar-header"><a href="#">@product.Description</a></li>
                                                if (product.ProductId == 8)
                                                {
                                                    foreach (var item in Model.ItemRecordsP8)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 9)
                                                {
                                                    foreach (var item in Model.ItemRecordsP9)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 10)
                                                {
                                                    foreach (var item in Model.ItemRecordsP10)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 11)
                                                {
                                                    foreach (var item in Model.ItemRecordsP11)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 12)
                                                {
                                                    foreach (var item in Model.ItemRecordsP12)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 13)
                                                {
                                                    foreach (var item in Model.ItemRecordsP13)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 14)
                                                {
                                                    foreach (var item in Model.ItemRecordsP14)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 15)
                                                {
                                                    foreach (var item in Model.ItemRecordsP15)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 16)
                                                {
                                                    foreach (var item in Model.ItemRecordsP16)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }

                                                if (product.ProductId == 17)
                                                {
                                                    foreach (var item in Model.ItemRecordsP17)
                                                    {
                                                        <li><a href="#">@item.Description</a></li>
                                                    }
                                                }
                                                <li class="divider"></li>
                                            }
                                        </ul>
                                    }
                                </li>
                            </ul>
                        </li>
                    }
                    @*
                        <li class="dropdown mega-sidebar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Categories <span class="caret"></span></a>
                            <ul class="dropdown-menu mega-sidebar-menu">
                                <li class="col-md-4">
                                    <ul>
                                        <li class="sidebar-header">Men</li>
                                        <li><a href="#">Jean</a></li>
                                        <li><a href="#">Tshirt</a></li>
                                        <li><a href="#">Footwear</a></li>
                                        <li><a href="#">Trouser</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Women</li>
                                        <li><a href="#">Jean</a></li>
                                        <li><a href="#">Tshirt</a></li>
                                        <li><a href="#">Footwear</a></li>
                                        <li><a href="#">Trouser</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Computers/Laptops</li>
                                        <li><a href="#">Computer</a></li>
                                        <li><a href="#">Laptop</a></li>
                                        <li><a href="#">Notebook</a></li>
                                        <li><a href="#">UltraBook</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Mobile/Tablets</li>
                                        <li><a href="#">Smartphone</a></li>
                                        <li><a href="#">Tablets</a></li>
                                        <li><a href="#">Fablets</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Appliance</li>
                                        <li><a href="#">TV</a></li>
                                        <li><a href="#">Blender</a></li>
                                        <li><a href="#">Washing Machine</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Other</li>
                                        <li><a href="#">Wall-Clock</a></li>
                                        <li><a href="#">House Decoration</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mega-sidebar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men's Fashion<span class="caret"></span></a>
                            <ul class="dropdown-menu mega-sidebar-menu">
                                <li class="col-md-4">
                                    <ul>
                                        <li class="sidebar-header">Clothing</li>
                                        <li><a href="#">Jean</a></li>
                                        <li><a href="#">Tshirt</a></li>
                                        <li><a href="#">Sweaters</a></li>
                                        <li><a href="#">Trouser</a></li>
                                        <li><a href="#">Sportwear</a></li>
                                        <li><a href="#">Suits & Blazers</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Footwear</li>
                                        <li><a href="#">Sport Shoes</a></li>
                                        <li><a href="#">Casual Shoes</a></li>
                                        <li><a href="#">Running Shoes</a></li>
                                        <li><a href="#">Boots</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Watches</li>
                                        <li><a href="#">Smart Watches</a></li>
                                        <li><a href="#">Casual Watches</a></li>
                                        <li><a href="#">Luxury Watches</a></li>
                                        <li><a href="#">Couple Watches</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Accessories</li>
                                        <li><a href="#">Wallets</a></li>
                                        <li><a href="#">Belts</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Perfume</li>
                                        <li><a href="#">Deodorants</a></li>
                                        <li><a href="#">Body Mist</a></li>
                                        <li><a href="#">Gift Sets</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Sunglasses</li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Fastrack</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mega-sidebar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women's Fashion<span class="caret"></span></a>
                            <ul class="dropdown-menu mega-sidebar-menu">
                                <li class="col-md-4">
                                    <ul>
                                        <li class="sidebar-header">Ethnic Wear</li>
                                        <li><a href="#">Sarees</a></li>
                                        <li><a href="#">Kurtis</a></li>
                                        <li><a href="#">Lehengas</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Western Wear</li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Top Wear</a></li>
                                        <li><a href="#">Bottom Wear</a></li>
                                        <li><a href="#">Winter Wear</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Watches</li>
                                        <li><a href="#">Smart Watches</a></li>
                                        <li><a href="#">Casual Watches</a></li>
                                        <li><a href="#">Luxury Watches</a></li>
                                        <li><a href="#">Couple Watches</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Accessories</li>
                                        <li><a href="#">Wallets</a></li>
                                        <li><a href="#">Belts</a></li>
                                        <li><a href="#">Socks</a></li>
                                        <li><a href="#">Key Chains</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Perfume</li>
                                        <li><a href="#">Deodorants</a></li>
                                        <li><a href="#">Body Mist</a></li>
                                        <li><a href="#">Gift Sets</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Sunglasses</li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Fastrack</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mega-sidebar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Appliances<span class="caret"></span></a>
                            <ul class="dropdown-menu mega-sidebar-menu">
                                <li class="col-md-4">
                                    <ul>
                                        <li class="sidebar-header">Kitchenware</li>
                                        <li><a href="#">Microwave Cooking</a></li>
                                        <li><a href="#">Cookware</a></li>
                                        <li><a href="#">Pressure Cooker</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Home Decor</li>
                                        <li><a href="#">Lamps & Lightings</a></li>
                                        <li><a href="#">Wall Decor</a></li>
                                        <li><a href="#">Clocks</a></li>
                                        <li><a href="#">Wall Stickers</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Furniture</li>
                                        <li><a href="#">Sofa Beds</a></li>
                                        <li><a href="#">Coffee Tables</a></li>
                                        <li><a href="#">Computer Tables</a></li>
                                        <li><a href="#">Beds</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Accessories</li>
                                        <li><a href="#">Juicer</a></li>
                                        <li><a href="#">gas Stoves</a></li>
                                        <li><a href="#">Air Fryers</a></li>
                                        <li><a href="#">Electric Cooker</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mega-sidebar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Computer/Laptop<span class="caret"></span></a>
                            <ul class="dropdown-menu mega-sidebar-menu">
                                <li class="col-md-4">
                                    <ul>
                                        <li class="sidebar-header">Computer Desktop</li>
                                        <li><a href="#">Lenovo</a></li>
                                        <li><a href="#">Acer</a></li>
                                        <li><a href="#">HP</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Laptops</li>
                                        <li><a href="#">Samsung</a></li>
                                        <li><a href="#">HP</a></li>
                                        <li><a href="#">Dell</a></li>
                                        <li><a href="#">Toshiba</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <ul>
                                        <li class="sidebar-header">Computer Accessories</li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">Keyboard</a></li>
                                        <li><a href="#">Mouse</a></li>
                                        <li><a href="#">Webcam</a></li>
                                        <li class="divider"></li>
                                        <li class="sidebar-header">Laptop Accessories</li>
                                        <li><a href="#">Cooling Pads</a></li>
                                        <li><a href="#">External DVD Writers</a></li>
                                        <li><a href="#">Laptop Adapters</a></li>
                                        <li><a href="#">Batteries</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                </ul>
            </nav>
        </div>
        <div class="col-md-8">
            <div class="alert alert-success" id="cartAlert" role="alert">You succesfully added new item to Shopping Cart.</div>
            <div class="slideshow">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/images/slide1.png" alt="First Slide">
                        </div>
                        @foreach (var item in Model.SlideShow)
                        {
                            <div class="item">
                                <a href="~/Home/ModelDetails/@item.ModelId"><img src="~/images/@item.ImageUrl" alt="@item.ModelNumber" /></a>
                            </div>
                        }
                        @*<div class="item">
                                <img src="../images/slide3.png" alt="Third Slide">
                            </div>*@
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2" id="cardSideBar">
            <span class="item-right"><button class="btn btn-xs btn-danger pull-right" id="HideCart">Hide</button></span>
            <div class="cart-icon-top">
            </div>
            <div id="cartSide">
                <h3>Shopping Cart</h3>
                <p><span class="badge cart"></span> Items</p>
            </div>
            <ul class="nav nav-sidebar" id="SCart">
                <li class="divider"></li>
                <li><a class="text-center" href="@Url.Action("NavigateToCart","Cart")">View Cart</a></li>
            </ul>
        </div>
    </div>
    <div class="row style_featured">
        <h3>Featured Items<i class="glyphicon glyphicon-star"></i></h3>
        @foreach (var item in Model.FeaturedList)
        {
            <div class="col-md-4" data-id="@item.ModelId">
                <div>
                    <img src="~/images/@item.ImageUrl" alt="" class="img-rounded" width="200" height="200"/>
                    <h2>@item.ModelNumber</h2>
                    <p style="text-align: left;">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        @item.BrandName
                    </p>
                    <p style="text-align: left;">
                        <span class="glyphicon glyphicon-euro "></span>
                        @item.Price
                    </p>
                    <p style="text-align: left;">
                        <span class="glyphicon glyphicon-calendar "></span>
                        Some concatenated specifications go here.
                    </p>
                    @Html.ActionLink("Details »", "ModelDetails", new { id = item.ModelId }, new { @class = "btn btn-info" })
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>New Launches</h3>
            </div>
            <div class="col-md-3">
                <!--Controls-->
                <div class="controls pull-right hidden-xs">
                    <a class="btn glyphicon glyphicon-chevron-left" href="#carousel-new-launches"
                       data-slide="prev"></a><a class="btn glyphicon glyphicon-chevron-right" id="newLaunchNext" href="#carousel-new-launches"
                                                data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-new-launches" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" id="ProductSlider">
                <div class="item active">
                    <div class="row">
                        @foreach (var item in Model.NewLaunchList)
                        {
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>@item.ModelNumber</h5>
                                                <h5 class="price-text-color">@item.Price</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color glyphicon glyphicon-star"></i>
                                                <i class="price-text-color glyphicon glyphicon-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="photo">
                                        <img src="~/images/@item.ImageUrl" width="360" height="100" alt="@item.ModelNumber"/>
                                    </div>
                                    <div class="info">
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="glyphicon glyphicon-shopping-cart"></i><input class="btn btn-primary AddToCart" type="button" value="AddToCart" data-id="@item.ModelId" data-img="~/images/@item.ImageUrl" /> @*@Html.ActionLink("AddToCart", "NavigateToCart", "Cart", new { id = item.ModelId }, new { @class = "btn btn-primary" })*@
                                            </p>
                                            <p class="btn-details">
                                                <i class="glyphicon glyphicon-list"></i>@Html.ActionLink("Details»", "ModelDetails", new { id = item.ModelId }, new { @class = "btn btn-info" })
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        @foreach (var item in Model.NewLaunchList2)
                        {
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>@item.ModelNumber</h5>
                                                <h5 class="price-text-color">@item.Price</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color glyphicon glyphicon-star"></i>
                                                <i class="price-text-color glyphicon glyphicon-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="photo">
                                        <img src="~/images/@item.ImageUrl" width="360" height="100" alt="@item.ModelNumber"/>
                                    </div>
                                    <div class="info">
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="glyphicon glyphicon-shopping-cart"></i><input class="btn btn-primary AddToCart" type="button" value="AddToCart" data-id="@item.ModelId" data-img="~/images/@item.ImageUrl" /> @*@Html.ActionLink("AddToCart", "NavigateToCart", new { id = item.ModelId }, new { @class = "btn btn-primary" })*@
                                            </p>
                                            <p class="btn-details">
                                                <i class="glyphicon glyphicon-list"></i>@Html.ActionLink("Details»", "ModelDetails", new { id = item.ModelId }, new { @class = "btn btn-info" })
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row" id="row-eq-height">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h4 class="text-center"><span class="label label-info">Samsung</span></h4>
                <img src="650*450" class="img-responsive">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h3>Galaxy S6</h3>
                        </div>
                        <div class="col-md-6 col-xs-6 price">
                            <h3>
                                <label>Rs34,700</label>
                            </h3>
                        </div>
                    </div>
                    <p>32GB, 2GB Ram, 1080HD, 5.1 inches, Android</p>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-info-sign"></span> View Details</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h4 class="text-center"><span class="label label-info">Apple</span></h4>
                <img src="650*450" class="img-responsive">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h3>iPhone 6</h3>
                        </div>
                        <div class="col-md-6 col-xs-6 price">
                            <h3>
                                <label>Rs36,500</label>
                            </h3>
                        </div>
                    </div>
                    <p>32GB, 64Bit, 1080HD, 4.7 inches, iOS 8</p>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-info-sign"></span> View Details</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h4 class="text-center"><span class="label label-info">Nokia</span></h4>
                <img src="650*450" class="img-responsive">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h3>Lumia 1520</h3>
                        </div>
                        <div class="col-md-6 col-xs-6 price">
                            <h3>
                                <label>Rs12,250</label>
                            </h3>
                        </div>
                    </div>
                    <p>32GB, 4GB Ram, 1080HD, 6.3 inches, WP 8</p>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-info-sign"></span> View Details</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>