@model BontoBuy.Web.Models.ModelViewModel

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = @Model.ModelNumber;
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>

    <div>
        <h4>Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BrandNav.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrandNav.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModelItemNav.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModelItemNav.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModelNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Update", new { id = Model.ModelId }) |
        @Html.ActionLink("Back to List", "Retrieve")
    </p>
</div>