@model IEnumerable<BontoBuy.Web.Models.ModelAdminRetrieveViewModel>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Pending Model List";
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <p>
        @using (Html.BeginForm("RetrieveActive", "Model", FormMethod.Get))
        {
        <p>
            Search by Supplier Name: @Html.TextBox("SearchString") &nbsp;
            <input type="submit" value="Filter" /> <br/>
        </p>
        }
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModelNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierCommission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommissionPercentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DtCreated)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModelNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierCommission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommissionPercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DtCreated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", new { id = item.ModelId }) |
                        @Html.ActionLink("Details", "Get", new { id = item.ModelId }) |
                        @Html.ActionLink("Archive", "Archive", new { id = item.ModelId })
                    </td>
                </tr>
            }
        </table>
    </div>