@model IEnumerable<BontoBuy.Web.Models.ModelAdminRetrieveViewModel>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "List of Models";
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <img src="~/images/@item.ImageUrl" width="200" height="200"/>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.ModelId }) |
                    @Html.ActionLink("Details", "Get", new { id = item.ModelId }) |
                    @Html.ActionLink("Archive", "Archive", new { id = item.ModelId })
                </td>
            </tr>
        }
    </table>
</div>