@model BontoBuy.Web.Models.SearchFilter
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advanced Search";
}

<style type="text/css">
    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }

    .input-group-btn .btn-group {
        display: flex !important;
    }

    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }

        .btn-group .btn:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }

    .border {
        border: 1px solid #ddd;
    }

    .panel-body {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
</style>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-3  border">
                <div class="panel ">
                    <h4><strong>Models</strong></h4>
                    <div class="panel-body border">
                        <div class="panel-group">
                            <a href="#" class="panel-info">Find Models</a><br>
                            <a href="#">By Seller</a><br>
                            <a href="#">By ModelNumber</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 border">
                <form class="form-horizontal" role="form">
                    <h4><strong>Find Models</strong> </h4>
                    <div class="form-group">
                        @Html.Label("Enter keywords or item number")
                        @*<input type="text" class="form-control keywords"/>*@
                        @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("In this Category:")

                                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("In this Brand:")
                                @Html.DropDownList("BrandId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Minimum Price")
                                @Html.EditorFor(model => model.MinPrice, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Maximum Price")
                                @Html.EditorFor(model => model.MaxPrice, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </div>
}