@model IEnumerable<BontoBuy.Web.Models.SpecificationViewModel>

@{
    ViewBag.Title = "Retrieve";
}

<h2>Retrieve</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpecificationTagNav.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpecificationTagNav.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpecificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpecificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpecificationId })
        </td>
    </tr>
}

</table>
