@model IEnumerable<BontoBuy.Web.Models.SpecificationViewModel>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Retrieve";
}

<div class="col-md-9">
    <h2>List of Specification</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SpecificationTagNav.Description)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SpecificationTagNav.Description)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.SpecificationId }) |
                    @Html.ActionLink("Details", "Get", new { id = item.SpecificationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SpecificationId })
                </td>
            </tr>
        }
    </table>
</div>