@model IEnumerable<BontoBuy.Web.Models.SpecProductViewModel>
@{
    Layout = "~/Views/Shared/SupplierLayout.cshtml";
    ViewBag.Title = "Specification Details";
}

@using (Html.BeginForm())
{
    <table class="table">
        @Html.ValidationSummary(true)
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.EditorFor(modelItem => item.Value)
                    @Html.ValidationMessageFor(model => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecDescription)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.SpecificationId)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.ModelId)
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="save"/>
}