@model IEnumerable<BontoBuy.Web.Models.SpecProductViewModel>
@{
    Layout = "~/Views/Shared/SupplierLayout.cshtml";
    ViewBag.Title = "Model Specification";
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpecDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecDescription)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => item.Value)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.SpecificationId)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.ModelId)
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="save" class="btn btn-success"/>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}