@model IEnumerable<BontoBuy.Web.Models.ItemViewModel>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Retrieve Archives";
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.ItemId }) |
                    @Html.ActionLink("Restore", "RevertArchive", new { id = item.ItemId })
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Back to List", "Retrieve")
    </div>
</div>