@model BontoBuy.Web.Models.CommissionViewModel
@{
    ViewBag.Title = Model.Name + " Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-md-11">
    <h4>@ViewBag.Title</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtUpdated)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Edit", "Update", new { id = Model.CommissionId }) |
        @Html.ActionLink("Back to List", "Retrieve")
    </p>
</div>