@model IEnumerable<BontoBuy.Web.Models.CustomerRetrieveOrdersViewModel>
@{
    Layout = "~/Views/Shared/CustomerDashboardLayout.cshtml";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-success">@ViewBag.CustomerOrderStatus</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.ActionLink("Details", "CustomerGetOrder", new { id = item.OrderId }) |
                    @if (item.HasReturn == false)
                    {
                        @Html.ActionLink("Return Product", "CreateReturn", "CustomerReturns", new { id = item.OrderId }, null)
                    }
                </td>
            </tr>
        }
    </table>
</div>