@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<BontoBuy.Web.Models.CustomerRetrieveOrdersViewModel>
@{
    Layout = "~/Views/Shared/CustomerDashboardLayout.cshtml";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-success">@ViewBag.CustomerOrderStatus</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.pageOfProducts)
        {
            <tr>
                <td>
                    @item.ModelNumber
                </td>
                <td>
                    @item.SupplierName
                </td>
                <td>
                    @item.DtCreated
                </td>
                <td>
                    @item.Status
                </td>

                <td>
                    @Html.ActionLink("Details", "CustomerGetOrder", new { id = item.OrderId }) |
                    @if (item.HasReturn == false && item.Status == "Delivered")
                    {
                        @Html.ActionLink("Return Product", "CreateReturn", "CustomerReturns", new { id = item.OrderId }, null)
                    }

                    @if (item.Status == "Active" || item.Status == "Processing")
                    {
                        <a href="@Url.Action("CancelOrder", "Customer", new { id = item.OrderId })" class="text-danger">Cancel</a>
                    }

                    @if (item.Status == "Delivered")
                    {
                        <span>|</span> <a href="@Url.Action("Create", "CustomerReview", new { id = item.ModelId })" class="text-success">Leave a review</a>
                    }
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12">
        <div class="text-center">
            @Html.PagedListPager((IPagedList)ViewBag.pageOfProducts, page => Url.Action("CustomerRetrieveOrders", new { page }))
            Showing @ViewBag.pageOfProducts.FirstItemOnPage to @ViewBag.pageOfProducts.LastItemOnPage of @ViewBag.pageOfProducts.TotalItemCount Orders
        </div>
    </div>
</div>