@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<BontoBuy.Web.Models.DeliveryAddressActionViewModel>
@{
    Layout = "~/Views/Shared/CustomerDashboardLayout.cshtml";
    ViewBag.Title = "Delivery Address List";
}
<div class="container">
    <h4>@ViewBag.Title</h4>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <p>
        @Html.ActionLink("Add New", "CustomerCreateDeliveryAddress")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.pageOfProducts)
        {
            <tr>

                <td>
                    @item.Street
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.Zipcode
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @Html.ActionLink("Edit", "CustomerUpdateDeliveryAddress", new { id = item.DeliveryAddressId }) |
                    @Html.ActionLink("Details", "CustomerGetDeliveryAddress", new { id = item.DeliveryAddressId }) |
                    @Html.ActionLink("Delete", "ArchiveDeliveryAddress", new { id = item.DeliveryAddressId })
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12">
        <div class="text-center">
            @Html.PagedListPager((IPagedList)ViewBag.pageOfProducts, page => Url.Action("RetrieveOrders", new { page }))
            Showing @ViewBag.pageOfProducts.FirstItemOnPage to @ViewBag.pageOfProducts.LastItemOnPage of @ViewBag.pageOfProducts.TotalItemCount Delivery Addresses
        </div>
    </div>
</div>