@model BontoBuy.Web.Models.CustomerGetOrderViewModel
@{
    Layout = null;
    ViewBag.Title = "Invoice";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background: transparent;
        }

        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        #InvoiceTitle {
            margin-left: -222px;
        }

        #LogoInvoice {
            margin-top: -15px;
            margin-left: -17px;
        }

        .footerContainer {
            bottom: 0;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <img id="LogoInvoice" class="navbar-brand" height="79" width="236" src="~/Content/Logo2.png"/>
                    <br>
                    <h2 id="InvoiceTitle">Invoice</h2><h3 class="pull-right">Order # @Model.OrderId</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            @Model.CustomerFName @Model.CustomerLName<br>
                            @Model.Street<br>
                            @Model.City<br>
                            @Model.PhoneNumber<br/>
                            @Model.Zipcode
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Supplier:</strong><br>
                            @Model.SupplierName
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Confirmation Code <h6>(Please provide it to Delivery Person when asked) :</h6></strong>
                            @Model.ConfirmationCode
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Order Date:</strong><br>
                            @Model.DtCreated<br><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Item</strong></td>
                                        <td class="text-center"><strong>Price</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Totals</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.ModelNumber</td>
                                        <td class="text-center">Rs @Model.UnitPrice</td>
                                        <td class="text-center">@Model.Quantity</td>
                                        <td class="text-right">Rs @Model.GrandTotal</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footerContainer">
            Thank you for your purchase. <br/>
            For any query contact us on our website <a>BontoBuy.com</a><br/>
        </div>
    </footer>
</body>
</html>