@model IEnumerable<BontoBuy.Web.Models.AdminRetrieveOrdersViewModel>
@{
    ViewBag.Title = "List Of Orders";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.ActionLink("Details", "GetOrder", new { id = item.OrderId }) |
                </td>
            </tr>
        }
    </table>
</div>