@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<BontoBuy.Web.Models.AdminRetrieveOrdersViewModel>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("SearchOrders", "AdminOrder", FormMethod.Post, new { id = "SearchOrders" }))
            {
                <p>Search By Date</p><br/>
                <div class="form-group">
                    @Html.Label("From: ")
                    <div class='input-group date'>
                        <input type='date' name="fromDate" class="form-control" id='datepickerFromDate'/>
                    </div>
                    @Html.Label("To: ")
                    <div class='input-group date'>
                        <input type='date' name="toDate" class="form-control" id='datepickerToDate'/>
                    </div>
                </div>
                <div class="input-group">
                    <input type="submit" value="Search" class="form-control btn btn-info test"/>
                </div>
            }
        </div>
    </div><br/>
    <p>
        @Html.ActionLink("Export as Excel", "ExportToExcel")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.pageOfProducts)
        {
            <tr>
                <td>
                    @item.ModelNumber
                </td>
                <td>
                    @item.SupplierName
                </td>
                <td>
                    @item.CustomerName
                </td>
                <td>
                    @item.DtCreated
                </td>
                <td>
                    @item.Status
                </td>

                <td>
                    @Html.ActionLink("Details", "GetOrder", new { id = item.OrderId }) |
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12">
        <div class="text-center">
            @Html.PagedListPager((IPagedList)ViewBag.pageOfProducts, page => Url.Action("RetrieveOrders", new { page }))
            Showing @ViewBag.pageOfProducts.FirstItemOnPage to @ViewBag.pageOfProducts.LastItemOnPage of @ViewBag.pageOfProducts.TotalItemCount Orders
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            //$('#datepickerFromDate').datepicker({
            //    format: 'dd/mm/yyyy',
            //}).on('changeDate', function (e) {
            //    $(this).datepicker('hide');
            //});

            //$('#datepickerToDate').datepicker({
            //    format: 'dd/mm/yyyy',
            //}).on('changeDate', function (e) {
            //    $(this).datepicker('hide');
            //});

            //$('.test').click(function () {
            //    var from = $('#datepickerFromDate').val();
            //    var to = $('#datepickerToDate').val();
            //    alert(from);
            //    alert(to);
            //});
        });
    </script>
}