@using BontoBuy.Web.Models

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>@ViewBag.Title </title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/JAlert")
</head>
<body>
    @*<img alt="full screen background image" src="~/Content/Background.jpg" id="full-screen-background-image" />*@
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img id="Logo" class="navbar-brand" height="79" width="236" src="~/Content/Logo2.png" /></a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <form class="navbar-form navbar-left" method="GET" role="search">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                    <li class="dropdown">
                        @{
                            var Cart = new List<CartViewModel>();
                            Cart = Session["Cart"] as List<CartViewModel>;
                            string numberOfItems;
                            if (Cart == null)
                            {
                                numberOfItems = "Empty";
                            }
                            else { numberOfItems = Cart.Count.ToString(); }
                        }
                        <a href="#" id="cart" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart(@numberOfItems)<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                            @*<li class="cartlist">
                                    <span class="item">
                                        <span class="item-left">
                                            <img src="50/50/" alt=""/>
                                            <span class="item-info">
                                                <span>Item name</span>
                                                <span>Rs25</span>
                                            </span>
                                        </span>
                                        <span class="item-right">
                                            <button class="btn btn-xs btn-danger pull-right">x</button>
                                        </span>
                                    </span>
                                </li>*@
                            <li class="divider"></li>
                            <li id="viewCart" class="hide">@Html.ActionLink("View Cart", "NavigateTocart", "Cart")</li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CustomJS")
    @Scripts.Render("~/bundles/JAlert")
    @RenderSection("scripts", required: false)
</body>
</html>