@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <style type="text/css">
        #demo {
            box-shadow: none;
            -webkit-box-shadow: none;
            left: 224px;
            top: -1px;
        }

        #sideNav > li > a {
            color: black;
            font-weight: 100;
            font-size: 15px;
        }

        .Dash {
            background-color: lightskyblue;
        }

        .footer-bottom p {
            color: #54697E;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            text-transform: uppercase;
        }

        .footer-bottom {
            border-top: 1px solid #DDDDDD;
            position: relative;
            bottom: 0;
            z-index: 1000;
            height: 10%;
            margin-top: 100px;
            margin-left: 240px;
        }

        .footerContainer {
            background-color: #E3E3E3;
        }

        .footer-bottom p.pull-left {
            /*padding-top: 6px;*/
        }

        .payments {
            font-size: 15px;
        }

        .border {
            border: 1px solid #ddd;
        }
    </style>

    @Styles.Render("~/Content/AdminCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/FontAwesome")
</head>
<body>
    <div class="navbar navbardefault navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Admin")"><img id="Logo" class="navbar-brand" height="79" width="236" src="~/Content/Logo2.png" /></a>
                @Html.ActionLink("Administrator", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("AdminLoginPartial")
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav side-nav" id="sideNav">
                    <li class="Dash">
                        <a href="@Url.Action("Index","Admin")"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="glyphicon glyphicon-expand"></i> Categories</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Category")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Category")">Add New</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveArchives","Category")">List of Archived</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="glyphicon glyphicon-list"></i> Product Category</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Product")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Product")">Add New</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveArchives","Product")">List of Archived</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="glyphicon glyphicon-list-alt"></i> Item Category</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Item")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Item")">Add New</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveArchives","Item")">List of Archived</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="glyphicon glyphicon-briefcase"></i> Brand</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Brand")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Brand")">Add New</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveArchives","Brand")">List of Archived</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="glyphicon glyphicon-tag"></i> Special Category</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Tag")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Tag")">Add New</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="glyphicon glyphicon-list-alt"></i> Specification</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Specification")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Specification")">Add New</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveArchives","Brand")">List of Archived</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"><i class="dropdown-toggle glyphicon glyphicon-gift"></i> Model <span class="badge">@ViewBag.NewModels</span></a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Model")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveActive","Model")">Active List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrievePending","Model")">Pending List<span class="badge">@ViewBag.NewModels</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Model")">Add New</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveArchives","Model")">List of Archived</a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="dropdown">
                            <a href="#" data-toggle="dropdown"><i class="dropdown-toggle glyphicon glyphicon-road"></i>Roles</a>
                            <ul id="demo" class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ManageRoles", "Role")">Manage Roles</a>
                                </li>
                            </ul>
                        </li>*@
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"><i class="dropdown-toggle glyphicon glyphicon-arrow-down"></i> Users <span class="badge">@ViewBag.NewSupplier</span></a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("RetrieveSuppliers","Role")">List of Suppliers</a>
                            </li>
                            <li>
                                @*@using (Html.BeginForm("NewSuppliers", "Admin", FormMethod.Post, new { id = "NewSuppliers" }))
                                    {*@
                                <a href="@Url.Action("NewSuppliers","Admin")">New Suppliers<span class="badge">@ViewBag.NewSupplier</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("RetrieveCustomers","Role")">List of Customers</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"><i class="dropdown-toggle glyphicon glyphicon-book"></i> Orders</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("RetrieveOrders","AdminOrder")">View Orders List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"><i class="dropdown-toggle glyphicon glyphicon-arrow-down"></i> Returns</a>
                        <ul id="demo" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Retrieve","Return")">View Returns</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit","Return")">Update Status</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container border" id="containerCustom">
        @RenderBody()
    </div>
    <footer>
        <div class="footer-bottom">
            <div class="footerContainer">
                <p class="pull-left"> Copyright © BontoBuy 2016. All right reserved. </p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CustomJS")
    @RenderSection("scripts", required: false)
</body>
</html>