@model IEnumerable<BontoBuy.Web.Models.AdminRetrieveProduct>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "ProductCategory";
}

<div class="col-md-9">
    <h2>List Of Product Category</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.ProductId }) |
                    @Html.ActionLink("Details", "Get", new { id = item.ProductId }) |
                    @Html.ActionLink("Archive", "Archive", new { id = item.ProductId })
                </td>
            </tr>
        }
    </table>
</div>