@model IEnumerable<BontoBuy.Web.Models.SupplierRetrieveOrdersViewModel>
@{
    Layout = "~/Views/Shared/SupplierLayout.cshtml";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("SupplierFilterOrders", "Supplier"))
    {
        <div class="col-md-4 form-group">
            <p>Search by Order#:</p>
            <input class="form-control " type="number" name="SearchString" min="1" value="1" /> <br/>
            <div class="col-md-4 ">
                <input type="submit" value="Filter" class="btn btn-details "/>
            </div>
        </div>
    }

    <p class="text-success">@ViewBag.StatusMessage</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.ActionLink("Details", "SupplierGetOrder", new { id = item.OrderId }) |
                    @Html.ActionLink("Edit", "SupplierEditOrder", new { id = item.OrderId }) |

                    @if (item.Status == "Active")
                    {

                        <a href="@Url.Action("UpdateOrder", "Supplier", new { id = item.OrderId })" class="text-info">Processing</a>
                    }
                    @if (item.Status == "Processing")
                    {
                        <a href="@Url.Action("UpdateOrder", "Supplier", new { id = item.OrderId })" class="text-info">In Transit</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>