@model IEnumerable<BontoBuy.Web.Models.SupplierRetrieveModelsViewModel>
@{
    Layout = "~/Views/Shared/SupplierLayout.cshtml";
    ViewBag.Title = "List of your Models";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    @using (Html.BeginForm("SupplierRetrieveModels", "Supplier", FormMethod.Get))
    {
        <p>
            Search by Model: @Html.TextBox("SearchString") <br/>
            <input type="submit" value="Filter"/>
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    <img src="~/images/@item.ImageUrl" width="200" height="200"/>
                </td>
                <td>
                    @Html.ActionLink("Details", "SupplierGetModelSpec", new { id = item.ModelId }) |
                </td>
            </tr>
        }
    </table>
</div>